.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.app {
  padding-top: 113px; /* Change according to the height of the updates */
  flex-grow: 1;
  display: flex;
}

.notifications {
  position: fixed;
  top: 80px;
  right: 0;
  width: fit-content;
  height: fit-content;
  z-index: 5000;
}
