.rootHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: rem(70px);
  width: 100vw;
}

.header {
  background-color: light-dark(#fff, #242424);
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
}

.inner {
  height: rem(70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease-in-out;
}

.link:hover {
  scale: 1.1;
  color: light-dark(black, white);
}

.linkSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  scale: 1.5;
  transition: all 0.1s ease-in-out;
}

.appTitle {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: var(--mantine-color-main-filled);
}

.appTitle:hover {
  scale: 1.1;
  color: light-dark(black, white);
}
